In [10]:
import pandas as pd
import MySQLdb
import datetime

In [11]:
def parse_date(text):
    """
    Parse JSON data to date
    :param text: date in string
    :return: datetime object
    """
    # 01/10/2017 08:00:00 PM
    if text == '' or text is None:
        return None
    if 'GMT' in text:
        text = text.replace('GMT', '').strip()
    for fmt in ['%Y-%m-%d %H:%M:%S.%f', '%Y-%m-%d %H:%M:%S', '%a, %d %b %Y %H:%M:%S', '%m/%d/%Y %I:%M:%S %p', 
                '%m/%d/%Y %H:%M:%S', '%m/%d/%Y %H:%M', ]:
        try:
            dt = datetime.datetime.strptime(text, fmt)
            dt = dt.replace(tzinfo=None)
            return dt
        except ValueError:
            pass
    raise ValueError('Invalid date format.')

In [12]:
INSERT_DB = "INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, \
primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,\
community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) \
VALUES ({0}, '{1}', '{2}', '{3}', '{4}', '{5}', '{6}', '{7}', '{8}', {9}, '{10}', \
{11}, {12}, {13}, '{14}', {15}, {16}, {17}, {18}, '{19}','{20}')"

In [18]:
db = MySQLdb.connect(host="mysql.thelead.io",
                     user="dsjul",
                     passwd="ds360jul2018",
                     db="ericTang")
cur = db.cursor()

In [19]:
crime_data = pd.read_csv("crime_data.csv")

In [20]:
crime_data["X Coordinate"].fillna(0.0, inplace=True)
crime_data["Y Coordinate"].fillna(0.0, inplace=True)
crime_data["Latitude"].fillna(0.0, inplace=True)
crime_data["Longitude"].fillna(0.0, inplace=True)
crime_data["Location"].fillna("", inplace=True)
crime_data["Location Description"].fillna("", inplace=True)
crime_data["District"].fillna(0, inplace=True)
crime_data["Ward"].fillna(0, inplace=True)

In [21]:
for index, row in crime_data.iterrows():
    sql = INSERT_DB.format(
        row["ID"],
        row["Case Number"],
        parse_date(row["Date"]),
        row["Block"],
        row["IUCR"],
        row["Primary Type"],
        row["Description"],
        row["Location Description"],
        1 if row["Arrest"]==True else 0,
        1 if row["Domestic"]==True else 0,
        row["Beat"],
        int(row["District"]),
        int(row["Ward"]),
        int(row["Community Area"]),
        row["FBI Code"],
        float(row["X Coordinate"]),
        float(row["Y Coordinate"]),
        float(row["Latitude"]),
        float(row["Longitude"]),
        row["Location"],
        parse_date(datetime.datetime.now().strftime('%m/%d/%Y %H:%M:%S'))
    )
    print(sql)
    cur.execute(sql)
    db.commit()

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11094370, 'JA440032', '2017-09-21 00:15:00', '072XX N CALIFORNIA AVE', '1122', 'DECEPTIVE PRACTICE', 'COUNTERFEIT CHECK', 'CURRENCY EXCHANGE', '1', 0, '2411', 24, 50, 2, '10', 1156443.0, 1947707.0, 42.012293400000004, -87.69971411, '(42.012293397, -87.699714109)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11118031, 'JA470589', '2017-10-12 19:14:00', '055XX W GRAND AVE', '1345', 'CRIMINAL DAMAGE', 'TO CITY OF CHICAGO PROPERTY', 'JAIL / LOCK-UP FACILITY', '1', 0, '2515', 25, 29, 19, '14', 1138788.0, 1913480.0, 41.91871165, -87.76551063, '(41.918711651, -87.76551063)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11134189, 'JA491697', '2017-10-30 11:52:00', '043XX S TALMAN AVE', '4651', 'OTHER OFFENSE', 'SEX OFFENDER: FAIL REG NEW ADD', 'APARTMENT', '1', 0, '922', 9, 12, 58, '26', 1159425.0, 1875711.0, 41.81466978, -87.6907267, '(41.814669784, -87.690726696)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11156462, 'JA521389', '2017-09-29 18:45:00', '055XX W BELMONT AVE', '1110', 'DECEPTIVE PRACTICE', 'BOGUS CHECK', 'CURRENCY EXCHANGE', '1', 0, '2514', 25, 30, 19, '11', 1138653.0, 1920720.0, 41.93858144, -87.76583058, '(41.938581442, -87.765830579)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11164874, 'JA531910', '2017-12-01 06:20:00', '022XX W CHICAGO AVE', '265', 'CRIM SEXUAL ASSAULT', 'AGGRAVATED: OTHER', 'STREET', '1', 0, '1221', 12, 32, 24, '2', 1161264.0, 1905292.0, 41.895805100000004, -87.68315936, '(41.895805099, -87.683159355)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10974196, 'JA298243', '2017-06-08 16:02:00', '001XX E 59TH ST', '143A', 'WEAPONS VIOLATION', 'UNLAWFUL POSS OF HANDGUN', 'ALLEY', '1', 0, '232', 2, 20, 40, '15', 1178308.0, 1865932.0, 41.78742694, -87.62175873, '(41.78742694, -87.621758727)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10995008, 'JA322389', '2017-06-25 19:00:00', '003XX W 103RD ST', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'SMALL RETAIL STORE', '1', 0, '511', 5, 9, 49, '3', 1175895.0, 1836626.0, 41.70706214, -87.63148256, '(41.707062135, -87.631482564)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11086755, 'JA430240', '2017-09-06 13:30:00', '032XX W 26TH ST', '810', 'THEFT', 'OVER $500', 'OTHER', '1', 0, '1024', 10, 12, 30, '6', 1155313.0, 1886555.0, 41.84451047, -87.70551945, '(41.844510467, -87.705519454)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11157652, 'JA522842', '2017-11-23 15:14:00', '003XX E 47TH ST', '051A', 'ASSAULT', 'AGGRAVATED: HANDGUN', 'DEPARTMENT STORE', '0', 0, '215', 2, 3, 38, '04A', 1178967.0, 1873924.0, 41.80934273, -87.619099, '(41.809342727, -87.619098999)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11162428, 'JA529032', '2017-11-28 21:43:00', '026XX S CALIFORNIA BLVD', '5131', 'OTHER OFFENSE', 'VIOLENT OFFENDER: ANNUAL REGISTRATION', 'JAIL / LOCK-UP FACILITY', '1', 0, '1034', 10, 12, 30, '26', 1158280.0, 1886310.0, 41.84377813, -87.69463768, '(41.843778126, -87.694637678)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11175304, 'JA545986', '2017-12-11 19:15:00', '007XX N SACRAMENTO BLVD', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'SIDEWALK', '1', 0, '1221', 12, 27, 23, '3', 1156092.0, 1904769.0, 41.89447592, -87.70216916, '(41.894475919, -87.702169158)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11175934, 'JA546734', '2017-12-12 18:00:00', '007XX N OAKLEY BLVD', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'STREET', '1', 0, '1221', 12, 32, 24, '3', 1160934.0, 1905033.0, 41.89510124, -87.68437857, '(41.895101237, -87.684378568)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11230118, 'JB151212', '2017-11-22 21:08:00', '003XX W 79TH ST', '1122', 'DECEPTIVE PRACTICE', 'COUNTERFEIT CHECK', 'CURRENCY EXCHANGE', '1', 0, '623', 6, 17, 44, '10', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11172603, 'JA541446', '2017-12-08 03:00:00', '033XX S KEDZIE AVE', '1020', 'ARSON', 'BY FIRE', 'SCHOOL, PRIVATE, BUILDING', '0', 0, '1032', 10, 22, 30, '9', 1155572.0, 1882206.0, 41.83257109, -87.70468577, '(41.832571089, -87.704685773)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11223717, 'JB141803', '2018-02-04 15:25:00', '044XX W WASHINGTON BLVD', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '1113', 11, 28, 26, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227287, 'JB147188', '2017-10-08 03:00:00', '092XX S RACINE AVE', '281', 'CRIM SEXUAL ASSAULT', 'NON-AGGRAVATED', 'RESIDENCE', '0', 0, '2222', 22, 21, 73, '2', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227293, 'JB147230', '2017-09-09 20:17:00', '060XX S EBERHART AVE', '810', 'THEFT', 'OVER $500', 'RESIDENCE', '0', 0, '313', 3, 20, 42, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227475, 'JB147314', '2017-11-22 02:42:00', '056XX N CHRISTIANA AVE', '2826', 'OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 'APARTMENT', '0', 1, '1711', 17, 39, 13, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227505, 'JB146342', '2017-06-01 00:01:00', '115XX S ABERDEEN ST', '1751', 'OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER', 'RESIDENCE', '0', 0, '524', 5, 34, 53, '20', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227508, 'JB146365', '2017-01-01 00:01:00', '027XX S WHIPPLE ST', '1754', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR', 'RESIDENCE', '0', 0, '1033', 10, 12, 30, '2', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227509, 'JB146413', '2017-01-22 00:01:00', '079XX S JEFFERY BLVD', '1752', 'OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER', 'APARTMENT', '0', 0, '414', 4, 8, 46, '20', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227512, 'JB138735', '2017-09-05 00:01:00', '020XX N LECLAIRE AVE', '1754', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR', 'RESIDENCE', '0', 0, '2522', 25, 31, 19, '2', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227513, 'JB137941', '2017-09-01 09:00:00', '030XX W HARRISON ST', '1562', 'SEX OFFENSE', 'AGG CRIMINAL SEXUAL ABUSE', 'SCHOOL, PUBLIC, BUILDING', '0', 0, '1134', 11, 28, 27, '17', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227569, 'JB147582', '2017-10-01 00:00:00', '004XX E 71ST ST', '1582', 'OFFENSE INVOLVING CHILDREN', 'CHILD PORNOGRAPHY', 'APARTMENT', '0', 0, '323', 3, 6, 69, '17', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227583, 'JB147595', '2017-03-28 14:00:00', '026XX W 79TH ST', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'OTHER', '0', 0, '835', 8, 18, 70, '5', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227586, 'JB147613', '2017-02-10 12:00:00', '089XX S COTTAGE GROVE AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'APARTMENT', '0', 0, '633', 6, 8, 44, '14', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227633, 'JB147500', '2017-12-28 15:55:00', '011XX S MICHIGAN AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '123', 1, 2, 32, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227634, 'JB147599', '2017-08-26 10:00:00', '001XX W RANDOLPH ST', '281', 'CRIM SEXUAL ASSAULT', 'NON-AGGRAVATED', 'HOTEL/MOTEL', '0', 0, '122', 1, 42, 32, '2', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (23810, 'JB140548', '2018-02-04 01:36:00', '117XX S SANGAMON ST', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'STREET', '0', 0, '524', 5, 34, 53, '01A', 1172100.0, 1827003.0, 41.68073915, -87.64566114, '(41.68073915, -87.645661144)','2018-09-01 10:14:49')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11123850, 'JA478106', '2017-10-20 01:15:00', '076XX S LOWE AVE', '1020', 'ARSON', 'BY FIRE', 'VEHICLE NON-COMMERCIAL', '0', 0, '621', 6, 17, 71, '9', 1173288.0, 1854309.0, 41.75564461, -87.64050812, '(41.755644606, -87.640508123)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10929491, 'JA244606', '2017-04-29 23:38:00', '028XX W 21ST PL', '496', 'BATTERY', 'AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST', 'APARTMENT', '1', 0, '1023', 10, 12, 30, '04B', 1157704.0, 1889592.0, 41.85279603, -87.69666219999999, '(41.852796034, -87.696662196)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11071841, 'JA411505', '2017-08-30 01:04:00', '013XX N SPAULDING AVE', '041A', 'BATTERY', 'AGGRAVATED: HANDGUN', 'STREET', '1', 0, '1422', 14, 26, 23, '04B', 1154121.0, 1908599.0, 41.90502536, -87.70930578, '(41.905025355, -87.709305775)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11092775, 'JA438054', '2017-09-17 11:53:00', '099XX S WESTERN AVE', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'GAS STATION', '1', 0, '2213', 22, 19, 72, '11', 1162136.0, 1838580.0, 41.71272093, -87.68181398, '(41.712720927, -87.681813981)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11166132, 'JA533860', '2017-12-02 14:45:00', '112XX S INDIANA AVE', '810', 'THEFT', 'OVER $500', 'RESIDENTIAL YARD (FRONT/BACK)', '0', 0, '531', 5, 9, 49, '6', 1179573.0, 1830461.0, 41.69006147, -87.61820129, '(41.69006147, -87.618201285)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (23128, 'JA149608', '2017-02-11 07:05:00', '001XX N MENARD AVE', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'ALLEY', '1', 0, '1512', 15, 29, 25, '01A', 1137692.0, 1900424.0, 41.88290423, -87.76985258, '(41.882904225, -87.769852575)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11225457, 'JB144550', '2018-02-05 18:00:00', '013XX N LA SALLE DR', '890', 'THEFT', 'FROM BUILDING', 'RESIDENCE-GARAGE', '0', 0, '1821', 18, 43, 8, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227960, 'JB148137', '2017-10-20 09:00:00', '008XX N PAULINA ST', '2826', 'OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 'RESIDENCE', '0', 1, '1213', 12, 1, 24, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228056, 'JB148123', '2017-11-21 12:00:00', '028XX N SACRAMENTO AVE', '1152', 'DECEPTIVE PRACTICE', 'ILLEGAL USE CASH CARD', 'APARTMENT', '0', 0, '1411', 14, 35, 21, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228094, 'JB148335', '2017-11-20 15:00:00', '055XX N CHRISTIANA AVE', '1156', 'DECEPTIVE PRACTICE', 'ATTEMPT - FINANCIAL IDENTITY THEFT', 'POOL ROOM', '0', 0, '1712', 17, 40, 13, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228256, 'JB148524', '2017-09-07 18:00:00', '035XX N WILTON AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '1924', 19, 44, 6, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228287, 'JB148482', '2018-01-03 15:45:00', '0000X W C1 ST', '810', 'THEFT', 'OVER $500', 'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA', '0', 0, '1651', 16, 41, 76, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228293, 'JB148253', '2017-07-01 20:40:00', '060XX S TALMAN AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '825', 8, 15, 66, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228565, 'JB148941', '2017-12-16 14:30:00', '102XX S EBERHART AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'VACANT LOT/LAND', '0', 0, '511', 5, 9, 49, '5', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228573, 'JB148940', '2017-11-01 15:00:00', '004XX E 33RD ST', '2825', 'OTHER OFFENSE', 'HARASSMENT BY TELEPHONE', 'RESIDENCE', '0', 1, '211', 2, 4, 35, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (23811, 'JB141441', '2018-02-05 01:10:00', '118XX S INDIANA AVE', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'VACANT LOT', '0', 0, '532', 5, 9, 53, '01A', 1179707.0, 1826280.0, 41.67858515, -87.61783783, '(41.678585145, -87.617837834)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10846398, 'JA149775', '2017-02-11 10:46:00', '001XX S CENTRAL AVE', '502P', 'OTHER OFFENSE', 'FALSE/STOLEN/ALTERED TRP', 'STREET', '0', 0, '1513', 15, 29, 25, '26', 1139086.0, 1898605.0, 41.87788742, -87.76477792, '(41.877887422, -87.76477792)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10856922, 'JA162189', '2017-02-21 15:15:00', '016XX W 79TH ST', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'APARTMENT', '1', 0, '611', 6, 21, 71, '26', 1166608.0, 1852321.0, 41.75033427, -87.66504531, '(41.75033427, -87.665045312)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11043709, 'JA378592', '2017-08-05 15:45:00', '038XX W GRENSHAW ST', '313', 'ROBBERY', 'ARMED: OTHER DANGEROUS WEAPON', 'SIDEWALK', '1', 0, '1133', 11, 24, 29, '3', 1151090.0, 1894768.0, 41.86713159, -87.72080229999999, '(41.867131594, -87.720802297)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11126911, 'JA482268', '2017-10-23 09:37:00', '019XX W CORTLAND ST', '495', 'BATTERY', 'AGGRAVATED OF A SENIOR CITIZEN', 'STREET', '1', 0, '1434', 14, 32, 22, '04B', 1162975.0, 1912649.0, 41.91595749, -87.67666839, '(41.915957492, -87.676668385)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11143767, 'JA504025', '2017-11-08 02:32:00', '009XX N MASSASOIT AVE', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'RESIDENCE', '1', 0, '1511', 15, 29, 25, '5', 1137852.0, 1905732.0, 41.89746717, -87.76913688, '(41.897467171, -87.769136879)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11145578, 'JA506751', '2017-11-10 16:00:00', '013XX S KARLOV AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '1', 1, '1011', 10, 24, 29, '08B', 1149269.0, 1893370.0, 41.86333078, -87.72752371, '(41.863330777, -87.727523713)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11146097, 'JA507458', '2017-11-11 02:30:00', '056XX S GREEN ST', '430', 'BATTERY', 'AGGRAVATED: OTHER DANG WEAPON', 'APARTMENT', '1', 1, '712', 7, 20, 68, '04B', 1171599.0, 1867535.0, 41.79197549, -87.64631068, '(41.791975485, -87.64631068)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11151046, 'JA513954', '2017-11-16 12:00:00', '013XX S KARLOV AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'ALLEY', '1', 1, '1011', 10, 24, 29, '08B', 1149269.0, 1893370.0, 41.86333078, -87.72752371, '(41.863330777, -87.727523713)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11164834, 'JA532022', '2017-12-01 07:30:00', '013XX S KARLOV AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'RESIDENTIAL YARD (FRONT/BACK)', '1', 1, '1011', 10, 24, 29, '14', 1149269.0, 1893370.0, 41.86333078, -87.72752371, '(41.863330777, -87.727523713)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11170225, 'JA538651', '2017-12-06 09:15:00', '092XX S COTTAGE GROVE AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'SIDEWALK', '1', 0, '633', 6, 9, 44, '3', 1183175.0, 1844016.0, 41.72717528, -87.60459441, '(41.727175279, -87.604594406)','2018-09-01 10:14:50')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11172432, 'JA542024', '2017-12-08 09:00:00', '040XX N SACRAMENTO AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'APARTMENT', '1', 0, '1724', 17, 33, 16, '5', 1155663.0, 1926747.0, 41.95479392, -87.70315154, '(41.954793921, -87.703151539)','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11223707, 'JB141873', '2018-02-05 00:00:00', '061XX N KENMORE AVE', '2820', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'RESIDENCE', '0', 0, '2433', 24, 48, 77, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11195036, 'JB104139', '2017-11-02 00:00:00', '025XX N LINDEN PL', '1120', 'DECEPTIVE PRACTICE', 'FORGERY', 'COMMERCIAL / BUSINESS OFFICE', '0', 0, '1414', 14, 35, 22, '10', 1155044.0, 1916598.0, 41.92695681, -87.70570027, '(41.926956806, -87.705700265)','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11223630, 'JB140001', '2018-02-03 14:40:00', '050XX S COTTAGE GROVE AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'SMALL RETAIL STORE', '0', 0, '223', 2, 4, 38, '14', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11227476, 'JB147378', '2017-12-18 12:00:00', '053XX N LINDER AVE', '1152', 'DECEPTIVE PRACTICE', 'ILLEGAL USE CASH CARD', 'APARTMENT', '0', 0, '1623', 16, 45, 11, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817335, 'JA117566', '2017-01-16 00:30:00', '077XX S SOUTH SHORE DR', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'APARTMENT', '0', 0, '421', 4, 7, 43, '5', 1197202.0, 1854810.0, 41.75645749, -87.55285393, '(41.756457493, -87.552853934)','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817336, 'JA117586', '2017-01-16 04:03:00', '026XX E 75TH ST', '460', 'BATTERY', 'SIMPLE', 'STREET', '0', 0, '421', 4, 7, 43, '08B', 1194900.0, 1855736.0, 41.75905551, -87.56125968, '(41.759055505, -87.561259676)','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228604, 'JB149032', '2017-12-14 18:30:00', '063XX S STONY ISLAND AVE', '810', 'THEFT', 'OVER $500', 'ATHLETIC CLUB', '0', 0, '314', 3, 20, 42, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228628, 'JB149091', '2017-11-22 00:01:00', '080XX S MANISTEE AVE', '4651', 'OTHER OFFENSE', 'SEX OFFENDER: FAIL REG NEW ADD', 'RESIDENCE', '0', 0, '422', 4, 7, 46, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228656, 'JB149151', '2017-01-01 06:00:00', '081XX S ELLIS AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '631', 6, 8, 44, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228685, 'JB149208', '2017-01-01 12:00:00', '108XX S FOREST AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '513', 5, 9, 49, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228710, 'JB149234', '2017-03-27 00:01:00', '031XX W AUGUSTA BLVD', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'APARTMENT', '0', 0, '1211', 12, 26, 23, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228723, 'JB149162', '2017-11-01 06:00:00', '016XX W AINSLIE ST', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'APARTMENT', '0', 0, '2032', 20, 47, 3, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228780, 'JB149380', '2017-11-23 12:30:00', '007XX N AVERS AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'RESIDENCE', '0', 0, '1112', 11, 27, 23, '5', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228873, 'JB149562', '2017-07-01 00:00:00', '019XX W ROSCOE ST', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '1922', 19, 32, 5, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228877, 'JB149540', '2017-10-23 16:00:00', '066XX N MAPLEWOOD AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'APARTMENT', '0', 0, '2412', 24, 50, 2, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228887, 'JB149545', '2017-12-29 17:00:00', '087XX S ASHLAND AVE', '810', 'THEFT', 'OVER $500', 'RESTAURANT', '0', 0, '2221', 22, 21, 71, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228889, 'JB149527', '2017-11-01 00:01:00', '076XX S CLYDE AVE', '2820', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'RESIDENCE', '0', 0, '414', 4, 8, 43, '26', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228897, 'JB149633', '2017-09-01 08:00:00', '022XX N LOCKWOOD AVE', '1154', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT $300 AND UNDER', 'RESIDENCE', '0', 0, '2515', 25, 37, 19, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228900, 'JB149617', '2017-09-12 09:00:00', '065XX W ADDISON ST', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '1632', 16, 36, 17, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228908, 'JB149546', '2017-08-09 22:55:00', '063XX N SHERIDAN RD', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'RESIDENCE-GARAGE', '0', 0, '2433', 24, 49, 77, '14', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11228964, 'JB149656', '2017-12-24 02:00:00', '005XX S STATE ST', '330', 'ROBBERY', 'AGGRAVATED', 'CONVENIENCE STORE', '0', 0, '123', 1, 2, 32, '3', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11229067, 'JB149469', '2017-08-12 14:45:00', '043XX S MICHIGAN AVE', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '215', 2, 3, 38, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:51')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11229073, 'JB149473', '2017-09-13 13:40:00', '031XX W AUGUSTA BLVD', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '1211', 12, 26, 23, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11229088, 'JB149417', '2017-05-16 12:20:00', '011XX W PRATT BLVD', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', '', '0', 0, '2431', 24, 49, 1, '11', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:52')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11229244, 'JB150022', '2017-12-16 09:30:00', '028XX W SUMMERDALE AVE', '560', 'ASSAULT', 'SIMPLE', 'RESIDENTIAL YARD (FRONT/BACK)', '0', 0, '2011', 20, 40, 4, '08A', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11229320, 'JB150109', '2017-09-29 18:30:00', '058XX N CUMBERLAND AVE', '820', 'THEFT', '$500 AND UNDER', 'CTA STATION', '0', 0, '1614', 16, 41, 76, '6', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (23812, 'JB142661', '2018-02-06 04:10:00', '062XX S MAY ST', '110', 'HOMICIDE', 'FIRST DEGREE MURDER', 'APARTMENT', '0', 0, '712', 7, 16, 68, '01A', 1169720.0, 1863456.0, 41.78082323, -87.65331894, '(41.78082323, -87.653318937)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11092090, 'JA437082', '2017-09-15 16:00:00', '021XX N HUDSON AVE', '1544', 'SEX OFFENSE', 'SEXUAL EXPLOITATION OF A CHILD', 'RESIDENCE', '0', 0, '1812', 18, 43, 7, '17', 1172933.0, 1914453.0, 41.920692700000004, -87.64003000000001, '(41.9206927, -87.640029998)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11143821, 'JA504356', '2017-11-08 18:34:00', '0000X N STATE ST', '860', 'THEFT', 'RETAIL THEFT', 'SMALL RETAIL STORE', '1', 0, '112', 1, 42, 32, '6', 1176364.0, 1900524.0, 41.88239406, -87.62784479999999, '(41.882394062, -87.627844798)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11162829, 'JA529201', '2017-11-29 05:30:00', '047XX N WHIPPLE ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '1', 0, '1713', 17, 33, 14, '08B', 1155190.0, 1931288.0, 41.96726424, -87.70476792, '(41.967264235, -87.704767917)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11174601, 'JA544990', '2017-12-08 20:00:00', '006XX N LAKE SHORE DR', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'RESIDENCE', '0', 0, '1834', 18, 42, 8, '5', 1179651.0, 1905033.0, 41.89469218, -87.61563657, '(41.894692183, -87.615636574)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11175208, 'JA545805', '2017-12-12 02:04:00', '091XX S HARPER AVE', '033A', 'ROBBERY', 'ATTEMPT: ARMED-HANDGUN', 'RESIDENTIAL YARD (FRONT/BACK)', '1', 0, '413', 4, 8, 48, '3', 1188042.0, 1844733.0, 41.72902835, -87.58674337, '(41.729028352, -87.58674337)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817338, 'JA117521', '2017-01-16 00:40:00', '077XX S EAST END AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '414', 4, 8, 43, '08B', 1188880.0, 1853973.0, 41.75436382, -87.58337864, '(41.754363819, -87.583378637)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817339, 'JA117441', '2017-01-15 22:05:00', '028XX W LOGAN BLVD', '320', 'ROBBERY', 'STRONGARM - NO WEAPON', 'OTHER', '0', 0, '1414', 14, 35, 22, '3', 1156840.0, 1917156.0, 41.92845174, -87.69908555, '(41.928451735, -87.699085554)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817340, 'JA117532', '2017-01-16 00:30:00', '083XX S BUFFALO AVE', '051A', 'ASSAULT', 'AGGRAVATED: HANDGUN', 'RESIDENCE', '0', 1, '424', 4, 10, 46, '04A', 1199589.0, 1850353.0, 41.74416743, -87.54425606, '(41.744167427, -87.544256056)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817341, 'JA117588', '2017-01-16 04:15:00', '057XX S PRAIRIE AVE', '320', 'ROBBERY', 'STRONGARM - NO WEAPON', 'SIDEWALK', '0', 0, '232', 2, 20, 40, '3', 1179019.0, 1867064.0, 41.79051708, -87.61911734, '(41.79051708, -87.619117338)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817343, 'JA117590', '2017-01-16 01:10:00', '055XX S PRAIRIE AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', '0', 0, '231', 2, 20, 40, '6', 1178989.0, 1868154.0, 41.79350883, -87.61919414, '(41.793508827, -87.619194139)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817344, 'JA117596', '2017-01-16 02:30:00', '037XX W HAYFORD ST', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '833', 8, 18, 70, '14', 1152453.0, 1854187.0, 41.75574488, -87.71686718, '(41.75574488, -87.716867182)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10817346, 'JA117589', '2017-01-16 04:30:00', '004XX E 95TH ST', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'GAS STATION', '0', 0, '633', 6, 9, 49, '14', 1180667.0, 1842071.0, 41.72189586, -87.61384102, '(41.721895856, -87.613841024)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (11224569, 'JB143064', '2018-02-06 08:01:00', '035XX S ARCHER AVE', '560', 'ASSAULT', 'SIMPLE', 'VEHICLE NON-COMMERCIAL', '0', 0, '912', 9, 11, 59, '08A', 0.0, 0.0, 0.0, 0.0, '','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10805378, 'JA104278', '2017-01-01 02:00:00', '046XX S VINCENNES AVE', '281', 'CRIM SEXUAL ASSAULT', 'NON-AGGRAVATED', 'RESIDENCE', '0', 0, '221', 2, 3, 38, '2', 1180398.0, 1874151.0, 41.80993288, -87.61384343, '(41.80993288, -87.613843427)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10807256, 'JA103781', '2017-01-02 20:00:00', '036XX W 19TH ST', '1750', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 'APARTMENT', '0', 1, '1014', 10, 24, 29, '20', 1152117.0, 1890382.0, 41.85507573, -87.71714757, '(41.855075732, -87.717147574)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10807989, 'JA106895', '2017-01-06 23:00:00', '003XX N HALSTED ST', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', '0', 0, '1214', 12, 27, 28, '6', 1170974.0, 1902779.0, 41.88870181, -87.64757061, '(41.888701814, -87.647570608)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10808963, 'JA108131', '2017-01-07 21:30:00', '026XX W 21ST PL', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'RESIDENCE', '0', 0, '1023', 10, 28, 30, '5', 1159108.0, 1889630.0, 41.85287163, -87.69150802, '(41.852871629, -87.691508016)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809005, 'JA107338', '2017-01-07 13:59:00', '015XX S HARDING AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 0, '1014', 10, 24, 29, '08B', 1150301.0, 1892125.0, 41.8598943, -87.72376774, '(41.859894302, -87.723767741)','2018-09-01 10:14:52')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809008, 'JA107334', '2017-01-07 13:25:00', '043XX W MAYPOLE AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '1114', 11, 28, 26, '08B', 1147236.0, 1901097.0, 41.88457371, -87.73478897, '(41.884573706, -87.734788966)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809056, 'JA107737', '2017-01-07 20:07:00', '056XX W CHICAGO AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '1511', 15, 29, 25, '14', 1138792.0, 1904784.0, 41.89484873, -87.76570736, '(41.894848727, -87.765707358)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809062, 'JA107761', '2017-01-07 21:10:00', '037XX W 77TH ST', '033B', 'ROBBERY', 'ATTEMPT: ARMED-OTHER FIREARM', 'STREET', '0', 0, '833', 8, 18, 70, '3', 1152332.0, 1853136.0, 41.75286314, -87.7173382, '(41.752863139, -87.717338201)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809063, 'JA106648', '2017-01-06 19:30:00', '021XX W 51ST PL', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', '0', 1, '932', 9, 16, 61, '08B', 1162831.0, 1870499.0, 41.80029685, -87.6783787, '(41.800296853, -87.678378703)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809064, 'JA106559', '2017-01-06 12:00:00', '062XX S CALIFORNIA AVE', '560', 'ASSAULT', 'SIMPLE', 'OTHER', '0', 0, '825', 8, 15, 66, '08A', 1158780.0, 1863241.0, 41.78046365, -87.69343316, '(41.780463647, -87.693433155)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809102, 'JA107797', '2017-01-07 22:00:00', '016XX W 115TH ST', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'RESTAURANT', '0', 0, '2234', 22, 34, 75, '26', 1167222.0, 1828439.0, 41.68478524, -87.66347623, '(41.684785236, -87.66347623)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809124, 'JA107381', '2017-01-05 19:00:00', '063XX W DIVERSEY AVE', '460', 'BATTERY', 'SIMPLE', 'STREET', '0', 0, '2511', 25, 29, 19, '08B', 1133787.0, 1917936.0, 41.93102883, -87.78378017, '(41.931028833, -87.78378017)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809125, 'JA106544', '2017-01-05 19:00:00', '063XX W DIVERSEY AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '2511', 25, 29, 19, '14', 1133799.0, 1917936.0, 41.93102862, -87.78373607, '(41.931028622, -87.783736072)','2018-09-01 10:14:52')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809136, 'JA107316', '2017-01-07 09:30:00', '059XX S JUSTINE ST', '330', 'ROBBERY', 'AGGRAVATED', 'SIDEWALK', '0', 0, '713', 7, 15, 67, '3', 1167022.0, 1865434.0, 41.78630923, -87.66315381, '(41.786309231, -87.66315381)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809156, 'JA107779', '2017-01-07 21:30:00', '054XX S WABASH AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESTAURANT', '0', 1, '225', 2, 3, 40, '08B', 1177642.0, 1868905.0, 41.79560024, -87.62411072, '(41.795600242, -87.624110719)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809258, 'JA107951', '2017-01-08 02:45:00', '054XX W DEVON AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'STREET', '0', 1, '1621', 16, 41, 12, '08B', 1138972.0, 1942130.0, 41.99732657, -87.7641354, '(41.997326568, -87.764135399)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809329, 'JA107373', '2017-01-07 14:15:00', '010XX S LYTLE ST', '560', 'ASSAULT', 'SIMPLE', 'APARTMENT', '0', 0, '1231', 12, 2, 28, '08A', 1168201.0, 1895562.0, 41.86895818, -87.65796259999999, '(41.868958182, -87.657962602)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809346, 'JA107884', '2017-01-07 21:45:00', '021XX N DOMINICK ST', '820', 'THEFT', '$500 AND UNDER', 'STREET', '0', 0, '1811', 18, 32, 7, '6', 1165998.0, 1914330.0, 41.92050621, -87.66551402, '(41.920506206, -87.665514018)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809347, 'JA107927', '2017-01-08 00:20:00', '044XX N SACRAMENTO AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'SIDEWALK', '0', 0, '1724', 17, 33, 14, '3', 1155585.0, 1929254.0, 41.96167486, -87.70337053, '(41.961674858, -87.703370529)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809442, 'JA107785', '2017-01-07 21:35:00', '037XX W 77TH PL', '430', 'BATTERY', 'AGGRAVATED: OTHER DANG WEAPON', 'STREET', '0', 0, '833', 8, 18, 70, '04B', 1152293.0, 1852874.0, 41.75214493, -87.717488, '(41.752144933, -87.717487995)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809443, 'JA108015', '2017-01-08 05:25:00', '054XX S MILLARD AVE', '051A', 'ASSAULT', 'AGGRAVATED: HANDGUN', 'STREET', '0', 0, '822', 8, 23, 62, '04A', 1152970.0, 1868162.0, 41.79408428, -87.71460400000001, '(41.794084279, -87.714604003)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809509, 'JA107930', '2017-01-08 01:30:00', '002XX W 87TH ST', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'PARKING LOT/GARAGE(NON.RESID.)', '0', 0, '634', 6, 21, 44, '3', 1176454.0, 1847227.0, 41.73614018, -87.62911796, '(41.73614018, -87.62911796)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809511, 'JA107861', '2017-01-07 23:45:00', '006XX W ARLINGTON PL', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'HOTEL/MOTEL', '0', 0, '1935', 19, 43, 7, '26', 1171622.0, 1916637.0, 41.92671468, -87.64478241, '(41.926714681, -87.644782411)','2018-09-01 10:14:53')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809517, 'JA107010', '2017-01-07 05:00:00', '007XX S CENTRAL PARK AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '1133', 11, 24, 27, '08B', 1152489.0, 1896709.0, 41.87243041, -87.71561506, '(41.872430407, -87.715615062)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809525, 'JA108339', '2017-01-08 13:30:00', '088XX S ESCANABA AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '423', 4, 10, 46, '08B', 1196920.0, 1847012.0, 41.73506621, -87.55414617, '(41.735066205, -87.554146165)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809545, 'JA107894', '2017-01-08 00:50:00', '011XX W 76TH ST', '560', 'ASSAULT', 'SIMPLE', 'APARTMENT', '0', 1, '612', 6, 17, 71, '08A', 1170158.0, 1854408.0, 41.75598487, -87.65197593, '(41.755984872, -87.651975927)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809552, 'JA108110', '2017-01-08 08:30:00', '043XX N MENARD AVE', '1305', 'CRIMINAL DAMAGE', 'CRIMINAL DEFACEMENT', 'RESIDENCE-GARAGE', '0', 0, '1624', 16, 38, 15, '14', 1136894.0, 1928437.0, 41.95978944, -87.7721097, '(41.95978944, -87.772109703)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809553, 'JA108122', '2017-01-08 02:00:00', '047XX N CENTRAL AVE', '560', 'ASSAULT', 'SIMPLE', 'APARTMENT', '0', 0, '1622', 16, 45, 15, '08A', 1138141.0, 1931132.0, 41.96716226, -87.76745966, '(41.967162264, -87.76745966)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809564, 'JA108720', '2017-01-08 21:35:00', '002XX N WESTERN AVE', '820', 'THEFT', '$500 AND UNDER', 'GAS STATION', '0', 0, '1223', 12, 27, 28, '6', 1160371.0, 1901450.0, 41.88528085, -87.68654552, '(41.885280845, -87.686545515)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809617, 'JA108749', '2017-01-08 06:00:00', '049XX S MICHIGAN AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'OTHER', '0', 0, '224', 2, 3, 38, '5', 1177990.0, 1872389.0, 41.80515278, -87.62272898, '(41.805152775, -87.622728981)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809618, 'JA108518', '2017-01-08 16:50:00', '018XX E 71ST ST', '560', 'ASSAULT', 'SIMPLE', 'SIDEWALK', '0', 0, '333', 3, 5, 43, '08A', 1190056.0, 1858242.0, 41.76605011, -87.57893184, '(41.766050106, -87.578931841)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809619, 'JA107669', '2017-01-07 19:26:00', '056XX S MORGAN ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '712', 7, 16, 68, '08B', 1170608.0, 1867400.0, 41.79162671, -87.64994844, '(41.791626705, -87.649948435)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809620, 'JA105665', '2017-01-05 21:28:00', '061XX N SEELEY AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '2413', 24, 40, 2, '08B', 1161556.0, 1940457.0, 41.9922938, -87.68110416, '(41.992293795, -87.681104158)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809623, 'JA106753', '2017-01-06 21:59:00', '094XX S ASHLAND AVE', '860', 'THEFT', 'RETAIL THEFT', 'SMALL RETAIL STORE', '0', 0, '2221', 22, 21, 73, '6', 1167331.0, 1841881.0, 41.72166994, -87.66269402, '(41.72166994, -87.662694015)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809624, 'JA106739', '2017-01-06 21:46:00', '030XX N DAVLIN CT', '320', 'ROBBERY', 'STRONGARM - NO WEAPON', 'STREET', '0', 0, '2523', 25, 31, 21, '3', 1149831.0, 1920155.0, 41.93682063, -87.72476314, '(41.936820629, -87.72476314)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809625, 'JA108728', '2017-01-08 21:20:00', '026XX N NARRAGANSETT AVE', '560', 'ASSAULT', 'SIMPLE', 'RESTAURANT', '0', 0, '2512', 25, 36, 19, '08A', 1133295.0, 1916925.0, 41.92826317, -87.78561194, '(41.928263171, -87.785611939)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809648, 'JA108182', '2017-01-08 11:15:00', '031XX W 40TH ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', '0', 1, '921', 9, 14, 58, '08B', 1156098.0, 1877928.0, 41.82082114, -87.70287097, '(41.820821143, -87.702870974)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809677, 'JA108315', '2017-01-08 13:29:00', '016XX N WASHTENAW AVE', '460', 'BATTERY', 'SIMPLE', 'STREET', '0', 0, '1421', 14, 1, 24, '08B', 1158117.0, 1910873.0, 41.91118469, -87.69456498, '(41.91118469, -87.694564983)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809680, 'JA108074', '2017-01-08 06:24:00', '017XX N MILWAUKEE AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'TAVERN/LIQUOR STORE', '0', 0, '1434', 14, 32, 24, '5', 1161914.0, 1911347.0, 41.91240694, -87.68060283, '(41.912406937, -87.680602833)','2018-09-01 10:14:53')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809683, 'JA108200', '2017-01-08 08:40:00', '072XX S PHILLIPS AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', '0', 1, '334', 3, 7, 43, '08B', 1193782.0, 1857329.0, 41.76345428, -87.56530489, '(41.763454279, -87.565304885)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809863, 'JA105869', '2017-01-06 07:40:00', '040XX W VAN BUREN ST', '560', 'ASSAULT', 'SIMPLE', 'APARTMENT', '0', 0, '1132', 11, 24, 26, '08A', 1149436.0, 1897715.0, 41.87525073, -87.72679796, '(41.875250729, -87.726797963)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809867, 'JA108116', '2017-01-08 09:58:00', '006XX S PULASKI RD', '560', 'ASSAULT', 'SIMPLE', 'GOVERNMENT BUILDING/PROPERTY', '0', 0, '1132', 11, 24, 26, '08A', 1149822.0, 1896852.0, 41.87287507, -87.72540316, '(41.872875065, -87.725403155)','2018-09-01 10:14:53')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10809917, 'JA108189', '2017-01-08 11:00:00', '067XX S WESTERN AVE', '320', 'ROBBERY', 'STRONGARM - NO WEAPON', 'CTA BUS STOP', '0', 0, '832', 8, 15, 66, '3', 1161533.0, 1860003.0, 41.77152146, -87.68342984, '(41.771521464, -87.683429837)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810096, 'JA107583', '2017-01-07 17:50:00', '004XX W HURON ST', '910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', '0', 0, '1831', 18, 42, 8, '7', 1173174.0, 1904991.0, 41.89472314, -87.63942576, '(41.894723141, -87.639425761)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810232, 'JA109558', '2017-01-09 15:53:00', '041XX W MAYPOLE AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'ALLEY', '0', 0, '1114', 11, 28, 26, '3', 1148785.0, 1901132.0, 41.88463996, -87.72909987, '(41.884639962, -87.729099869)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810303, 'JA108615', '2017-01-08 18:30:00', '017XX N MILWAUKEE AVE', '810', 'THEFT', 'OVER $500', 'VEHICLE NON-COMMERCIAL', '0', 0, '1434', 14, 32, 24, '6', 1161636.0, 1911585.0, 41.91306583, -87.68161749, '(41.913065827, -87.681617486)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810317, 'JA108580', '2017-01-08 18:15:00', '022XX N MAPLEWOOD AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'SIDEWALK', '0', 0, '1431', 14, 1, 22, '3', 1158946.0, 1914793.0, 41.92192449, -87.69141172, '(41.921924485, -87.691411724)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810444, 'JA109174', '2017-01-07 18:30:00', '111XX S MICHIGAN AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'SMALL RETAIL STORE', '0', 0, '531', 5, 9, 49, '5', 1178790.0, 1831274.0, 41.69231026, -87.62104324, '(41.692310261, -87.621043241)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810506, 'JA109463', '2017-01-09 12:30:00', '079XX S KINGSTON AVE', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'APARTMENT', '0', 0, '422', 4, 7, 46, '5', 1194568.0, 1852707.0, 41.75075187, -87.56257587, '(41.750751865, -87.562575869)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810539, 'JA108792', '2017-01-08 21:00:00', '032XX W OGDEN AVE', '930', 'MOTOR VEHICLE THEFT', 'THEFT/RECOVERY: AUTOMOBILE', 'STREET', '0', 0, '1022', 10, 24, 29, '7', 1154877.0, 1891254.0, 41.857413799999996, -87.70699373, '(41.857413801, -87.706993734)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810626, 'JA109037', '2017-01-05 12:00:00', '005XX N MC CLURG CT', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '1834', 18, 42, 8, '11', 1179097.0, 1904100.0, 41.89214469, -87.61769981, '(41.892144688, -87.617699811)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810652, 'JA109338', '2017-01-09 13:45:00', '078XX S GREENWOOD AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'STREET', '0', 0, '624', 6, 8, 69, '3', 1184912.0, 1853242.0, 41.75245188, -87.59794281, '(41.752451878, -87.597942812)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810659, 'JA108225', '2017-01-08 12:30:00', '061XX S DR MARTIN LUTHER KING JR DR', '430', 'BATTERY', 'AGGRAVATED: OTHER DANG WEAPON', 'STREET', '0', 0, '311', 3, 20, 40, '04B', 1179974.0, 1864409.0, 41.78320968, -87.61569688, '(41.783209684, -87.615696882)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810661, 'JA109410', '2017-01-05 21:30:00', '044XX N DAMEN AVE', '2826', 'OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 'RESIDENCE', '1', 0, '1911', 19, 47, 4, '26', 1162212.0, 1929532.0, 41.96230143, -87.67899814, '(41.962301425, -87.678998144)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810678, 'JA109270', '2017-01-09 10:10:00', '053XX S INDIANA AVE', '4651', 'OTHER OFFENSE', 'SEX OFFENDER: FAIL REG NEW ADD', 'OTHER', '0', 0, '231', 2, 3, 40, '26', 1178505.0, 1869684.0, 41.79771831, -87.62092242, '(41.79771831, -87.620922418)','2018-09-01 10:14:54')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810684, 'JA109182', '2017-01-07 15:00:00', '053XX W CHICAGO AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'TAVERN/LIQUOR STORE', '0', 1, '1524', 15, 37, 25, '08B', 1140417.0, 1904813.0, 41.89489865, -87.75973838, '(41.894898651, -87.75973838)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810884, 'JA109520', '2017-01-07 09:00:00', '028XX W DEVON AVE', '1152', 'DECEPTIVE PRACTICE', 'ILLEGAL USE CASH CARD', 'ATM (AUTOMATIC TELLER MACHINE)', '0', 0, '2413', 24, 50, 2, '11', 1156278.0, 1942331.0, 41.9975448, -87.70046744, '(41.997544797, -87.700467444)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810915, 'JA109660', '2017-01-09 12:30:00', '114XX S SAWYER AVE', '620', 'BURGLARY', 'UNLAWFUL ENTRY', 'RESIDENCE', '0', 0, '2211', 22, 19, 74, '5', 1156745.0, 1828661.0, 41.6856116, -87.70182406, '(41.685611596, -87.701824064)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810918, 'JA110090', '2017-01-10 01:00:00', '013XX W 111TH ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', '0', 1, '2234', 22, 34, 75, '08B', 1169387.0, 1831157.0, 41.69219741, -87.65547244, '(41.69219741, -87.655472442)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10810953, 'JA109793', '2017-01-09 18:45:00', '005XX W FULTON ST', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '1214', 12, 42, 28, '14', 1172538.0, 1902104.0, 41.88681513, -87.64184704, '(41.88681513, -87.641847038)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811203, 'JA109346', '2017-01-09 13:10:00', '080XX S EUCLID AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '414', 4, 8, 46, '14', 1190593.0, 1852149.0, 41.74931746, -87.57715988, '(41.749317455, -87.577159884)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811218, 'JA110001', '2017-01-09 22:15:00', '015XX N TALMAN AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'CHA APARTMENT', '1', 0, '1423', 14, 26, 24, '08B', 1158469.0, 1910106.0, 41.90907278, -87.69329288, '(41.90907278, -87.693292877)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811312, 'JA110633', '2017-01-09 19:00:00', '052XX W CONGRESS PKWY', '1750', 'OFFENSE INVOLVING CHILDREN', 'CHILD ABUSE', 'APARTMENT', '0', 1, '1522', 15, 29, 25, '20', 1141423.0, 1897178.0, 41.87392875, -87.75623214, '(41.873928748, -87.756232138)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811344, 'JA110654', '2017-01-10 10:15:00', '095XX S HALSTED ST', '890', 'THEFT', 'FROM BUILDING', 'LIBRARY', '0', 0, '2223', 22, 21, 73, '6', 1172656.0, 1841607.0, 41.72080256, -87.64319753, '(41.720802556, -87.643197534)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811359, 'JA110544', '2017-01-10 12:40:00', '012XX S SPRINGFIELD AVE', '2026', 'NARCOTICS', 'POSS: PCP', 'SIDEWALK', '1', 0, '1011', 10, 24, 29, '18', 1150575.0, 1894138.0, 41.86541287, -87.7227094, '(41.865412869, -87.722709399)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811360, 'JA110574', '2017-01-10 13:28:00', '037XX W 16TH ST', '326', 'ROBBERY', 'AGGRAVATED VEHICULAR HIJACKING', 'STREET', '1', 0, '1014', 10, 24, 29, '3', 1151729.0, 1891786.0, 41.85893611, -87.71853482, '(41.858936106, -87.718534819)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811361, 'JA110651', '2017-01-10 12:40:00', '002XX W MONROE ST', '870', 'THEFT', 'POCKET-PICKING', 'RESTAURANT', '0', 0, '122', 1, 2, 32, '6', 1174585.0, 1899875.0, 41.88065311, -87.63439665, '(41.880653112, -87.634396649)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811366, 'JA110656', '2017-01-07 12:00:00', '001XX W LAKE ST', '810', 'THEFT', 'OVER $500', 'CTA TRAIN', '0', 0, '122', 1, 42, 32, '6', 1175301.0, 1901735.0, 41.88574103, -87.63171175, '(41.885741029, -87.631711749)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811367, 'JA110686', '2017-01-10 06:30:00', '006XX W ARMITAGE AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENTIAL YARD (FRONT/BACK)', '0', 0, '1812', 18, 43, 7, '14', 1171803.0, 1913552.0, 41.91824531, -87.64420842, '(41.918245307, -87.64420842)','2018-09-01 10:14:54')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811371, 'JA110639', '2017-01-10 13:00:00', '040XX W CERMAK RD', '420', 'BATTERY', 'AGGRAVATED:KNIFE/CUTTING INSTR', 'SIDEWALK', '0', 0, '1012', 10, 24, 29, '04B', 1149874.0, 1889076.0, 41.85153578, -87.72541439, '(41.851535781, -87.725414393)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811372, 'JA110632', '2017-01-03 17:40:00', '004XX S CLINTON ST', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'CTA STATION', '0', 0, '121', 1, 2, 28, '11', 1172799.0, 1898209.0, 41.87612122, -87.64100397, '(41.876121224, -87.641003973)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811376, 'JA109293', '2017-01-09 13:00:00', '013XX S LAWNDALE AVE', '820', 'THEFT', '$500 AND UNDER', 'APARTMENT', '0', 1, '1011', 10, 24, 29, '6', 1151923.0, 1893461.0, 41.86352869, -87.71777862, '(41.863528686, -87.717778622)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811378, 'JA110498', '2017-01-10 10:59:00', '087XX S EMERALD AVE', '2028', 'NARCOTICS', 'POSS: SYNTHETIC DRUGS', 'RESIDENCE', '1', 0, '2223', 22, 21, 71, '18', 1172839.0, 1846826.0, 41.73512019, -87.6423738, '(41.735120189, -87.6423738)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811381, 'JA110666', '2017-01-08 19:00:00', '011XX S ASHLAND AVE', '910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', '0', 0, '1231', 12, 2, 28, '7', 1165900.0, 1895209.0, 41.86803889, -87.66642017, '(41.868038887, -87.666420169)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811385, 'JA110678', '2017-01-10 13:43:00', '012XX N MARION CT', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'RESIDENCE', '0', 0, '1424', 14, 1, 24, '11', 1163773.0, 1908523.0, 41.90461866, -87.67385314, '(41.904618658, -87.67385314)','2018-09-01 10:14:55')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811386, 'JA110159', '2017-01-09 18:00:00', '011XX W WELLINGTON AVE', '1154', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT $300 AND UNDER', 'RESIDENCE', '0', 0, '1933', 19, 44, 6, '11', 1168008.0, 1920069.0, 41.93621113, -87.65796283, '(41.936211129, -87.657962827)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811389, 'JA110690', '2017-01-09 22:30:00', '002XX W NORTH AVE', '890', 'THEFT', 'FROM BUILDING', 'ATHLETIC CLUB', '0', 0, '1814', 18, 43, 7, '6', 1174063.0, 1910985.0, 41.91115121, -87.63598179, '(41.911151209, -87.63598179)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811390, 'JA110514', '2017-01-10 12:08:00', '092XX S CLYDE AVE', '031A', 'ROBBERY', 'ARMED: HANDGUN', 'ALLEY', '1', 0, '413', 4, 8, 48, '3', 1191790.0, 1844031.0, 41.72701197, -87.57303648, '(41.727011968, -87.573036478)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811391, 'JA110697', '2017-01-10 08:00:00', '072XX S MICHIGAN AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE PORCH/HALLWAY', '0', 0, '323', 3, 6, 69, '14', 1178417.0, 1856945.0, 41.7627632, -87.62163177, '(41.762763202, -87.62163177)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811393, 'JA110700', '2017-01-09 15:00:00', '008XX N MONTICELLO AVE', '810', 'THEFT', 'OVER $500', 'RESIDENCE PORCH/HALLWAY', '0', 0, '1112', 11, 27, 23, '6', 1151898.0, 1905368.0, 41.89620326, -87.71755678, '(41.896203263, -87.717556781)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811397, 'JA110543', '2017-01-10 10:45:00', '039XX S TALMAN AVE', '2011', 'NARCOTICS', 'MANU/DELIVER:BARBITUATES', 'APARTMENT', '1', 0, '921', 9, 12, 58, '18', 1159377.0, 1878269.0, 41.82169024, -87.69083261, '(41.821690235, -87.690832606)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811398, 'JA110696', '2017-01-05 09:00:00', '010XX N LARAMIE AVE', '2826', 'OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 'RESIDENCE', '0', 0, '1531', 15, 37, 25, '26', 1141506.0, 1906350.0, 41.89909631, -87.75570072, '(41.899096313, -87.755700717)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811400, 'JA110704', '2017-01-10 12:00:00', '011XX W 51ST ST', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', '0', 0, '933', 9, 16, 61, '14', 1169382.0, 1870974.0, 41.80146082, -87.65434043, '(41.801460819, -87.654340425)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811401, 'JA110594', '2017-01-10 13:45:00', '010XX W WILSON AVE', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'RESTAURANT', '0', 0, '1914', 19, 46, 3, '26', 1168668.0, 1930721.0, 41.96542634, -87.65522754, '(41.965426344, -87.655227542)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811405, 'JA110646', '2017-01-10 09:30:00', '132XX S BUFFALO AVE', '610', 'BURGLARY', 'FORCIBLE ENTRY', 'RESIDENCE', '0', 0, '433', 4, 10, 55, '5', 1200091.0, 1817709.0, 41.65457668, -87.5435136, '(41.65457668, -87.543513604)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811407, 'JA110660', '2017-01-10 13:00:00', '002XX W MONROE ST', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'RESTAURANT', '0', 0, '122', 1, 2, 32, '11', 1174585.0, 1899875.0, 41.88065311, -87.63439665, '(41.880653112, -87.634396649)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811413, 'JA110502', '2017-01-10 11:47:00', '015XX N CLYBOURN AVE', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', '1', 0, '1822', 18, 27, 8, '6', 1171167.0, 1910123.0, 41.90884995, -87.64664598, '(41.908849952, -87.646645976)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811414, 'JA110624', '2017-01-10 13:53:00', '044XX W VAN BUREN ST', '041A', 'BATTERY', 'AGGRAVATED: HANDGUN', 'STREET', '1', 0, '1131', 11, 24, 26, '04B', 1146829.0, 1897653.0, 41.87513075, -87.73637151, '(41.875130749, -87.736371509)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811415, 'JA110671', '2017-01-10 13:05:00', '008XX W NORTH AVE', '860', 'THEFT', 'RETAIL THEFT', 'OTHER', '0', 0, '1822', 18, 43, 8, '6', 1170635.0, 1910871.0, 41.91091418, -87.64857834, '(41.910914175, -87.648578343)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811424, 'JA110663', '2017-01-10 13:30:00', '006XX E 131ST ST', '545', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', '1', 0, '533', 5, 9, 54, '08A', 1182901.0, 1818558.0, 41.65732147, -87.60638511, '(41.657321469, -87.606385112)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811425, 'JA110712', '2017-01-08 14:00:00', '020XX N DAMEN AVE', '890', 'THEFT', 'FROM BUILDING', 'RESIDENCE-GARAGE', '0', 0, '1432', 14, 32, 22, '6', 1162696.0, 1913738.0, 41.91895164, -87.67766282, '(41.918951639, -87.677662824)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811426, 'JA110701', '2017-01-10 14:51:00', '057XX S ASHLAND AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'STREET', '0', 1, '715', 7, 15, 67, '08B', 1166650.0, 1866751.0, 41.78993119, -87.66448019, '(41.789931189, -87.664480186)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811432, 'JA110623', '2017-01-10 13:55:00', '015XX E 53RD ST', '860', 'THEFT', 'RETAIL THEFT', 'SMALL RETAIL STORE', '1', 0, '234', 2, 4, 41, '6', 1187590.0, 1870433.0, 41.79956218, -87.58758291, '(41.799562177, -87.587582914)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811436, 'JA110683', '2017-01-10 07:10:00', '019XX S CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'PARKING LOT/GARAGE(NON.RESID.)', '0', 0, '1024', 10, 24, 29, '6', 1152688.0, 1889938.0, 41.85384608, -87.71506347, '(41.85384608, -87.715063469)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811456, 'JA109953', '2017-01-08 15:06:00', '051XX S UNIVERSITY AVE', '560', 'ASSAULT', 'SIMPLE', 'RESIDENCE', '0', 0, '233', 2, 4, 41, '08A', 1184678.0, 1871265.0, 41.80191408, -87.59823574, '(41.80191408, -87.59823574)','2018-09-01 10:14:55')

INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811481, 'JA110119', '2017-01-10 04:55:00', '082XX S SCOTTSDALE AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', '0', 1, '834', 8, 13, 70, '08B', 1147541.0, 1849663.0, 41.74342539, -87.73498406, '(41.743425394, -87.734984061)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811525, 'JA110807', '2017-01-10 15:00:00', '054XX W QUINCY ST', '2826', 'OTHER OFFENSE', 'HARASSMENT BY ELECTRONIC MEANS', 'RESIDENCE', '0', 1, '1522', 15, 29, 25, '26', 1140249.0, 1898470.0, 41.87749574, -87.76051092, '(41.877495744, -87.760510915)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811530, 'JA110767', '2017-01-10 15:10:00', '044XX W WASHINGTON BLVD', '2027', 'NARCOTICS', 'POSS: CRACK', 'RESIDENTIAL YARD (FRONT/BACK)', '1', 0, '1113', 11, 28, 26, '18', 1146782.0, 1900126.0, 41.88191785, -87.73648093, '(41.881917848, -87.736480932)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811544, 'JA110885', '2017-01-06 07:20:00', '025XX W CULLOM AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'RESIDENCE', '0', 0, '1911', 19, 47, 5, '14', 1158455.0, 1928470.0, 41.95946513, -87.69284032, '(41.959465134, -87.692840319)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811549, 'JA110880', '2017-01-06 14:00:00', '026XX W 12TH PL', '2820', 'OTHER OFFENSE', 'TELEPHONE THREAT', 'RESIDENCE', '0', 0, '1023', 10, 28, 29, '26', 1158779.0, 1894289.0, 41.86566315, -87.69258794, '(41.865663151, -87.692587939)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811551, 'JA109237', '2017-01-09 10:30:00', '007XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'PARKING LOT/GARAGE(NON.RESID.)', '0', 0, '123', 1, 2, 32, '6', 1176908.0, 1896948.0, 41.87256902, -87.62595547, '(41.872569023, -87.625955471)','2018-09-01 10:14:55')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811558, 'JA110834', '2017-01-01 20:00:00', '107XX S LA SALLE ST', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', 'RESIDENCE', '0', 0, '513', 5, 34, 49, '11', 1177178.0, 1833706.0, 41.69902045, -87.62687197, '(41.69902045, -87.626871965)','2018-09-01 10:14:56')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811568, 'JA110795', '2017-01-10 15:44:00', '063XX S DAMEN AVE', '560', 'ASSAULT', 'SIMPLE', 'GAS STATION', '0', 0, '726', 7, 15, 67, '08A', 1164113.0, 1862700.0, 41.77886851, -87.67389658, '(41.778868505, -87.673896581)','2018-09-01 10:14:56')
INSERT INTO crime_data(crime_id, case_number, crime_date, block, iucr, primary_type, descriptions, location_descriptions, arrest, domestic, beat, district, ward,community, fbi_code, x_coordinate, y_coordinate, latitude, longitude, location, created_date) VALUES (10811573, 'JA110816', '2017-01-10 15:30:00', '001XX W JACKSON BLVD', '560', 'ASSAULT', 'SIMPLE', 'RESTAURANT', '0', 0, '122', 1, 2, 32, '08A', 1175454.0, 1898968.0, 41.87814479, -87.63123304, '(41.878144785, -87.631233035)','2018-09-01 10:14:56')

In [231]:
cur.close()
db.close()

In [33]:
myname = "blablabla{1}"

In [34]:
print(myname.format("3", "asnudisnd"))

blablablaasnudisnd

In [35]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 22 columns):
ID                      200 non-null int64
Case Number             200 non-null object
Date                    200 non-null object
Block                   200 non-null object
IUCR                    200 non-null object
Primary Type            200 non-null object
Description             200 non-null object
Location Description    200 non-null object
Arrest                  200 non-null bool
Domestic                200 non-null bool
Beat                    200 non-null int64
District                200 non-null int64
Ward                    200 non-null int64
Community Area          200 non-null int64
FBI Code                200 non-null object
X Coordinate            200 non-null float64
Y Coordinate            200 non-null float64
Year                    200 non-null int64
Updated On              200 non-null object
Latitude                200 non-null float64
Longitude               200 non-null float64
Location                200 non-null object
dtypes: bool(2), float64(4), int64(6), object(10)
memory usage: 23.9+ KB